<div class="login-wrap">
    <img src="/img/background-login.jpg" alt="Background" class="background-login">
    <div class="d-flex justify-content-center container w-100 h-100">
        <div class=" login-modal d-flex justify-content-center pb-8">
            <div class=" login-modal-wrap align-item-center text-center">
                <a class="text-center d-inline-block" href="">
                    <img class="logo " src="/img/logo-epic.jpg" alt="">
                </a>
                <h3 class="text-center mb-4">Đăng nhập vào Epic Read</h3>
                <form class="form-login">
                    <div class="form-group  mt-4 text-start">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter email">
                        <div class="email-error error-auth"></div>
                    </div>
                    <div class="form-group mt-4 text-start">
                        <label>Mật Khẩu</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter password">
                        <div class="password-error error-auth"></div>
                    </div>
                    <button class="btn btn-primary btn-block mt-4 btn-login">Đăng nhập</button>
                    <p class="d-inline-block mt-4">Bạn chưa có tài khoản? <a href="/auth/signup">Đăng kí ngay!</a></p>
                    <span></span>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const formLogin = document.querySelector(".form-login");
    formLogin.addEventListener("submit", async function (e) {
        e.preventDefault()
        const email = formLogin.email.value;
        const password = formLogin.password.value;
        const emailError = document.querySelector(".email-error");
        const passwordError = document.querySelector(".password-error");

        try {
            const res = await fetch("/auth/login", {
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email, password }),
                method: "POST",
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password
            }
            if (data.user) {
                location.assign("/");
            }
        }
        catch (err) {
            //console.log(err);
        }

    })
</script>