@import 'variable';
h1{
    color: $colorText;
}
h2{
    color: pink;
}
.card{
    margin-top: 16px;
}
.book-name{
    text-decoration: none;
    color: black;
}
.book-img-top{
    width: 100%;
    height: 300px;
}
.fix-flex-grow{
    flex-grow: 0;
}
.avatar-user{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 4px;
}
.btn{
    a{
        color: white;
        text-decoration: none;
    }
}