<div class="search-page">
    <form class="mt-5" method="POST">
        <div class="search-form">
            <label for="exampleInputEmail1">Từ khoá</label>
            <input name="q" class="form-control" id="exampleInputEmail1" placeholder="Nhập từ khoá để tìm kiếm...">
        </div>
        <div class="check-gender-form">
            <label for="check-gender">Từ khoá</label>
            <select name="gender" id="check-gender" class="form-control">
                <option value="">Chọn Giới Tính
                </option>
                <option value="Male">Nam
                </option>
                <option value="Female">Nữ
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>

</div>